.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 104px;
  height: 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--primary-px-mini);
  height: 104px;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
