@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Variables */

:root {
  --clr-white: #fff;

  --primary-clr-900: #001a57;
  --primary-clr-800: #00308f;
  --primary-clr-600: #0059f7;
  --primary-clr-300: #689eff;
  --primary-clr-100: rgba(0, 89, 247, 0.16);

  --secondary-clr-900: #66240a;
  --secondary-clr-800: #c34b1e;
  --secondary-clr-600: #f9724d;
  --secondary-clr-300: #fbb6ab;
  --secondary-clr-100: #fef1ef;

  --neutral-clr-900: #070e27;
  --neutral-clr-800: #081131;
  --neutral-clr-700: #162044;
  --neutral-clr-600: #4e5a85;
  --neutral-clr-600-opacity: rgba(78, 90, 133, 0.2);
  --neutral-clr-500: #7e8bb6;
  --neutral-clr-300: #ccd2e9;
  --neutral-clr-200: #f4f7ff;

  --primary-px: 190px;
  --primary-px-mini: 80px;
}

/* Default Values */

body {
  font-family: 'Sora', monospace;
  background-color: var(--neutral-clr-900);
  margin: 0 auto;
}

main,
header {
  max-width: 1440px;
  margin: 0 auto;
}

.divider {
  border-bottom: 1px solid var(--neutral-clr-600-opacity);
  width: 100%;
}

/* Typography */

.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.03em;
}

.hero-title,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.03em;
}

h3 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.03em;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.body-large {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.subheading-large {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.caption {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
