#free-trial {
  width: calc(100% - 2 * 300px);
  background-color: var(--primary-clr-600);
  padding: 72px 110px;
  text-align: center;

  margin: 0 auto;
  margin-top: 96px;
  border-radius: 24px;
  color: var(--clr-white);
}

#free-trial .free-trial__invite {
  margin-bottom: 16px;
  opacity: 0.5;
}

#free-trial .free-trial__title {
  margin-bottom: 32px;
}
