#hero {
  color: var(--clr-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero > * {
  margin-top: 64px;
  padding: 0 var(--primary-px);
}

#hero .hero__img {
  padding: 0;
  width: calc(100% - 2 * var(--primary-px-mini));
}

#hero .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .info .info__title {
  width: 38%;
}

#hero .sub-info {
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

#hero .sub-info .sub-info__desc {
  color: var(--neutral-clr-500);
}

#hero .clients {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  display: grid;
  gap: 40px;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: 96px;
}

#hero .clients .clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
