#hero {
  color: var(--clr-white);
  border-bottom: 1px solid var(--neutral-clr-600-opacity);
  margin-top: 64px;

  display: flex;
  flex-direction: column;
}

#hero > *:not(img) {
  margin: 72px 0;
  padding: 0 var(--primary-px);
}

#hero .info {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .info .info__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.03em;
  width: 38%;
}

#hero .sub-info {
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

#hero .sub-info .sub-info__desc {
  color: var(--neutral-clr-500);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

#hero .sub-info .btn--sia {
  --background-clr: var(--primary-clr-600);
  padding-top: 16px;
  padding-bottom: 16px;
}

#hero .clients {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#hero .clients .clients__item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 96px;
}
